@model LMS_Lexicon2015.Models.Activity
<div class="row">
    <div class="col-md-12 extratoppadding">
        @{
            ViewBag.Title = "Ta bort";
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>

        <h3>Är du säker att du vill ta bort denna aktivitet?</h3>


        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Datum
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartDate.Day)
                    @ViewBag.Line1
                    @Html.DisplayFor(model => model.StartDate.Month)
                    @ViewBag.Line2
                    @Html.DisplayFor(model => model.StartDate.Year)
                    @ViewBag.Line3
                    @Html.DisplayFor(model => model.EndDate.Day)
                    @ViewBag.Line1
                    @Html.DisplayFor(model => model.EndDate.Month)
                    @ViewBag.Line2
                    @Html.DisplayFor(model => model.EndDate.Year)
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.CourseId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CourseId)
                    </dd>*@

            </dl>

@{TempData["GroupId"] = ViewBag.GroupId;}
    <div class="row">
        <div class="col-md-12 extratoppadding">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                    
                <div class="form-actions no-color">
                    <input type="submit" value="Ta bort" class="btn btn-default" /> |
                   @Html.ActionLink("Tillbaka till aktiviteten", "Details/" + (int)ViewBag.courseOccasionId + "/" + (int)ViewBag.GroupId, "CourseOccasions")

                </div>
            }
        </div>
    </div>
</div>
