@model LMS_Lexicon2015.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*<p>groupId</p>@ViewBag.groupId
<p>courseOccasionId</p>@ViewBag.courseOccasionId*@

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate.Day)
            @ViewBag.Line1
            @Html.DisplayFor(model => model.StartDate.Month)
            @ViewBag.Line2
            @Html.DisplayFor(model => model.StartDate.Year)
            @ViewBag.Line3
            @Html.DisplayFor(model => model.EndDate.Day)
            @ViewBag.Line1
            @Html.DisplayFor(model => model.EndDate.Month)
            @ViewBag.Line2
            @Html.DisplayFor(model => model.EndDate.Year)
        </dd>

    
    </dl>
</div>
<p>
    @*@{TempData["GroupId"] = ViewBag.GroupId;}*@
    @*@Html.ActionLink("Ändra", "Edit/" + (int)ViewBag.courseOccasionId + "/" + (int)ViewBag.groupId, "Activities") |*@

    @Html.ActionLink("Ändra", "Edit/" + (int)ViewBag.activitiesId + "/" + (int)ViewBag.courseOccasionId + "/" + (int)ViewBag.groupId, "Activities") |

    @Html.ActionLink("Tillbaka till kursen", "Details/" + (int)ViewBag.courseOccasionId + "/" + (int)ViewBag.GroupId, "CourseOccasions")
    
</p>
  