@model LMS_Lexicon2015.Models.Group
@using LMS_Lexicon2015.Models;

<div class="jumbotron">
    <h1>Lexicon LMS</h1>
    <p class="lead">
</div>
@if (User.IsInRole("Lärare")){
    <h3>Hej läraren!</h3>

    var GroupId = new LMS_Lexicon2015.Models.ApplicationDbContext().Users.Where(u => u.Email == User.Identity.Name).FirstOrDefault().GroupId;

    if (GroupId == null)
        {
          // @Html.Partial("../Groups/Index", new LMS_Lexicon2015.Models.ApplicationDbContext().CourseOccasions.Where(o => o.StartDate < DateTime.Today && o.EndDate > DateTime.Today).ToList())
           //  @Html.Partial("../Groups/Index")

        }
    else
    {
        ViewBag.GroupId = GroupId;
        @Html.Partial("../Groups/_Course", new LMS_Lexicon2015.Models.ApplicationDbContext().CourseOccasions.Where(o => o.GroupId == (int)GroupId && o.StartDate < DateTime.Today && o.EndDate > DateTime.Today).ToList())
        }


    @GroupId
}

@if (User.IsInRole("Elev"))
{
    <h3>Hej eleven!</h3>
    <h4>Dagens schema</h4>
    
    @*var groupId = new LMS_Lexicon2015.Models.ApplicationDbContext().Users.Where(u => u.Email == User.Identity.Name).FirstOrDefault().GroupId;

    var CourseId = new LMS_Lexicon2015.Models.ApplicationDbContext().CourseOccasions.Where(o => o.GroupId == (int)groupId && o.StartDate < DateTime.Today && o.EndDate > DateTime.Today).First().Activities.First().CourseId;
    
    @Html.Partial("../CourseOccasions/_activities", new LMS_Lexicon2015.Models.ApplicationDbContext().Activitys.Where(a => a.CourseId == (int)CourseId).OrderBy(c => c.StartDate).ToList())
    
    @groupId
    @CourseId*@

    var GroupId = new LMS_Lexicon2015.Models.ApplicationDbContext().Users.Where(u => u.Email == User.Identity.Name).FirstOrDefault().GroupId;
    ViewBag.GroupId = GroupId;
    @Html.Partial("../Groups/_Course", new LMS_Lexicon2015.Models.ApplicationDbContext().CourseOccasions.Where(o => o.GroupId == (int)GroupId && o.StartDate < DateTime.Today && o.EndDate > DateTime.Today).ToList())
    <div></div>
    
    
    //var CourseId = new LMS_Lexicon2015.Models.ApplicationDbContext().CourseOccasions.Where(o => o.GroupId == (int)GroupId && o.StartDate < DateTime.Today && o.EndDate > DateTime.Today).First().Activities.First().CourseId;



    @*@Html.Partial("../CourseOccasions/_activities", new LMS_Lexicon2015.Models.ApplicationDbContext().Activitys.Where(a => a.CourseId == (int)CourseId).ToList())*@
    
    <div></div>

    @Html.Partial("../Users/PartitialGroup", new LMS_Lexicon2015.Models.ApplicationDbContext().Users.Where(o => o.GroupId == (int)GroupId))
     @*@Html.Partial("../Users/PartitialGroup", new {id = GroupId})*@
    
    @*@Html.Action("PartitialGroup", "Users", new { id = GroupId })**@
    
    ViewBag.Title = "";
}

@if (!User.IsInRole("Elev") && !User.IsInRole("Lärare"))
{
    <p><img src="http://www.lexicon.se/Global/Images/PLUS-580-grey.jpg" alt="Lexicon"></p>

}



<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>

    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>

    </div>
</div>