@model IEnumerable<LMS_Lexicon2015.Models.CourseOccasion>

@{
    ViewBag.Title = "Kurser";
}

<h2>Kurser</h2>

<p>
    @*@Html.ActionLink("Lägg till en ny kurs", "Create/" + Model.First().GroupId, "CourseOccasions")*@

    @if (User.IsInRole("Lärare"))
    {
            @Html.ActionLink("Lägg till en ny kurs", "Create/" + (int)ViewBag.groupId, "CourseOccasions")
    }

       @* @Html.ActionLink("Lägg till en ny kurs", "Create/" + (int)ViewBag.courseOccasionId + "/" + (int)ViewBag.groupId, "CourseOccasions")*@

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            Antalet kurser
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
                @Html.ActionLink(item.Name, "Details/" + item.Id + "/" + (int)ViewBag.groupId, "CourseOccasions")
        </td>
        <td>
            @if (item.Description.Length <= 10)
            {
                @Html.DisplayFor(modelItem => item.Description)
            }
            else
            {
                for (int i = 0; i < 10; i++)
                {
                    @Html.DisplayFor(modelItem => item.Description[i])
                }
                <span>...</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate.Day)
            <span>/</span>
            @Html.DisplayFor(modelItem => item.StartDate.Month)
            <span>-</span>
            @Html.DisplayFor(modelItem => item.StartDate.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate.Day)
            <span>/</span>
            @Html.DisplayFor(modelItem => item.EndDate.Month)
            <span>-</span>
            @Html.DisplayFor(modelItem => item.EndDate.Year)
        </td>
            @*@if (User.IsInRole("Lärare"))
            {
                @Html.ActionLink("Ändra", "Edit/" + item.Id + "/" + (int)ViewBag.groupId, "CourseOccasions") <span>|</span>
            }

            @Html.ActionLink("Detaljer", "Details/" + item.Id + "/" + (int)ViewBag.groupId, "CourseOccasions")
            @if (User.IsInRole("Lärare"))
                    { <span>|</span> }*@

        <td>
            @item.Activities.Count
        </td>

    @if (User.IsInRole("Lärare"))
    {
        @*if (item.Group.Courses.Count() > 0)
        {
        <td>
            <div>
                <a href=" " title="Det finns aktiviteter i kuresn." style="background-color:#FFFFFF;color:grey;text-decoration:none">Ta bort</a>
            </div>
        </td>
        }
        else {*@
            <td>
                @Html.ActionLink("Ta bort", "Delete/" + item.Id + "/" + (int)ViewBag.groupId, "CourseOccasions")
            </td>
    //    }

     }
    </tr>
}

</table>
