@model IEnumerable<LMS_Lexicon2015.Models.CourseOccasion>

@{
    ViewBag.Title = "Kurser";
}

<h2>Kurser</h2>

<p>
    @Html.ActionLink("Lägg till en ny kurs", "Create", "CourseOccasion")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "CourseOccasion", new { id = item.Id, GroupId = item.GroupId }) |
            @Html.ActionLink("Details", "Details", "CourseOccasion", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", "CourseOccasion", new { id=item.Id })
        </td>
    </tr>
}

</table>
