@model LMS_Lexicon2015.Models.Group




<h2>Grupp: @Html.DisplayFor(model => model.Name)</h2>

<div>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate.Day)
            <span>/</span>
            @Html.DisplayFor(model => model.StartDate.Month)
            <span>-</span>
            @Html.DisplayFor(model => model.StartDate.Year)
            @ViewBag.Line3
            @Html.DisplayFor(model => model.EndDate.Day)
            <span>/</span>
            @Html.DisplayFor(model => model.EndDate.Month)
            <span>-</span>
            @Html.DisplayFor(model => model.EndDate.Year)
        </dd>
        <dd>
            @if (User.IsInRole("Lärare"))
            {
                @Html.ActionLink("Ändra Gruppens information", "Edit", new { id = Model.Id })
            }
        </dd>

    </dl>
</div>


@Html.Partial("_Course", new LMS_Lexicon2015.Models.ApplicationDbContext().CourseOccasions.Where(o => o.GroupId == Model.Id).OrderBy(c => c.StartDate).ToList())
<p>
    @Html.ActionLink("Tillbaka till Grupplistan", "Index")
</p>





