@model LMS_Lexicon2015.Models.Group


    @{
        ViewBag.Title = "Details";
    }

    <h2>Detaljer</h2>

    <div>
        <h4></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate.Day)
                @ViewBag.Line1
                @Html.DisplayFor(model => model.StartDate.Month)
                @ViewBag.Line2
                @Html.DisplayFor(model => model.StartDate.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate.Day)
                @ViewBag.Line1
                @Html.DisplayFor(model => model.EndDate.Month)
                @ViewBag.Line2
                @Html.DisplayFor(model => model.EndDate.Year)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Tillbaka till listan", "Index")
    </p>

@Html.Partial("_Course", new LMS_Lexicon2015.Models.ApplicationDbContext().CourseOccasions.Where(r => r.GroupId == Model.Id).ToList() )
@*@Html.Partial("_Course", Model)*@
    @*@Html.Partial("_Course", new { Model })*@
@*@Html.Partial("~/Views/CourseOccasion/index.cshtml", ViewData.Model.Courses)*@



