@model IEnumerable<LMS_Lexicon2015.Models.Group>

@{
    ViewBag.Title = "Grupplista";
}

<h2>@ViewBag.Title</h2>

<p>
    @if (User.IsInRole("Lärare"))
    {
        @Html.ActionLink("Skapa ny grupp", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            Antal Elever
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                @*@Html.DisplayFor(modelItem => item.Name)*@


            </td>
            <td>
                @*@Html.ActionLink(item.Description, "Details", new { id = item.Id })*@
                @for (int i=0; i<10; i++) {
                @Html.DisplayFor(modelItem => item.Description[i])
                                      }
            </td>
            <td>
                @Html.DisplayFor(model => item.StartDate.Day)
                @ViewBag.Line1
                @Html.DisplayFor(model => item.StartDate.Month)
                @ViewBag.Line2
                @Html.DisplayFor(model => item.StartDate.Year)
            </td>
            <td>
                @Html.DisplayFor(model => item.EndDate.Day)
                @ViewBag.Line1
                @Html.DisplayFor(model => item.EndDate.Month)
                @ViewBag.Line2
                @Html.DisplayFor(model => item.EndDate.Year)
            </td>
            <td>
                @Html.ActionLink(item.GroupName.Count().ToString(), "PartitialGroup/" + item.Id, "Users")
            </td>
            <td>
                @if (User.IsInRole("Lärare"))
                {
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
