<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

        <!-- Common checks for Site-->
        <script>
        jQuery(document).ready(function () {

            // Check for FileReader API (HTML5) support.
            if (!window.FileReader) {
                alert('This browser does not support the FileReader API.');
            }
        });
        </script>
    @*<script>
    function value() {
        EndDate1 = document.theForm.EndDate1.value;
        EndDate1 = document.theForm.EndDate1.value;
        total = EndDate1 + " " + EndDate1;
        document.theForm.EndDate3.value = total;
    }
    </script>*@
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/Home/Index"><img src="/Images/lexicon.png" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Om/Kontakt", "About", "Home")</li>

                        @using Microsoft.AspNet.Identity
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Grupper", "Index", "Groups")</li>
                            <li>@Html.ActionLink("Användare", "Index", "Users")</li>
                            <li>@Html.ActionLink("Dokument", "Index", "Documents")</li>
                        }




                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="footer">
                <p>&copy; @DateTime.Now.Year - Lexicon LMS</p>
            </footer>

        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/datetime")
        @RenderSection("scripts", required: false)
    </body>
</html>
