@model IEnumerable<LMS_Lexicon2015.Models.Document>

@{
    ViewBag.Title = "Index";


    ViewBag.ActivityId = TempData["ActivityId"];
    ViewBag.GroupId = TempData["GroupId"];
    ViewBag.CourseOccasionId = TempData["CourseOccasionId"];
    ViewBag.view = TempData["view"];
    string view = ViewBag.view;
}


    
    @if (view == "Group")
    {
        <h2>Dokument för Gruppen</h2>
    }
    else if (view == "Course")
    {
        <h2>Dokument för Kursen</h2>
    }
    else if (view == "Activities")
    {
        <h2>Dokument för Aktiviteten</h2>
    }
    else
    {
        <h2>Dokument för ??????</h2>
    }  


<p>
    @*@Html.ActionLink("Ladda upp dokument", "../Documents/upload/" + (int)ViewBag.groupId + "/" + (string)ViewBag.view)*@

    @if (view == "Group")
    {
        @Html.ActionLink("Ladda upp dokument", "../Documents/upload/" + (string)ViewBag.view + "/" + (int)ViewBag.groupId)
    }
    else if (view == "Course")
    {
        @Html.ActionLink("Ladda upp dokument", "../Documents/upload/" + (string)ViewBag.view + "/" + (int)ViewBag.groupId + "/" + (int)ViewBag.CourseOccasionId)
    }
    else if (view == "Activities")
    {
        @Html.ActionLink("Ladda upp dokument", "../Documents/upload/" + (string)ViewBag.view + "/" + (int)ViewBag.groupId + "/" + (int)ViewBag.CourseOccasionId + "/" + (int)ViewBag.ActivityId)
    }
    else
    {
        @Html.ActionLink("Ladda upp dokument", "../Documents/upload/" + (int)ViewBag.groupId + "/" + (string)ViewBag.view)
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
          <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
     

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "../Documents/DownloadFile", new { fileUrl = item.Url, fileName = item.Name },
    new { title = "Beskrivning:\n" + item.Description + "\n\nSkapades:\n" + item.Timestamp })
              

            </td>
 
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            

        </tr>
    }

</table>

